/** CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Utils */
.flex {
  display: flex;
}
.revert {
  flex-direction: row-reverse;
}
.border {
  border: 3px dashed black;
}
.bckg-orange {
  background-color: orange;
}
.bckg-blu {
  background-color: blue;
}
.bckg-green {
  background-color: green;
}
.bckg-yellow {
  background-color: yellow;
}
.bckg-pink {
  background-color: pink;
}
.mrgn-btm {
  margin-bottom: 20px;
}
.brd-gold {
  border: 5px dashed goldenrod;
}

html,
body,
main {
  margin: 0;
  font-family: "Slabo 27px", serif;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/** Page header */
.page-header {
  height: 200px;
  min-width: 100dvw;
  /* background-color: #3A4361; */
  position: sticky; /* right? */
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(to bottom, #eaf4ff, #3A4361);
}
.header-logo {
  height: 100%;
  align-items: center;
}
.header-logo > h1 {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-optical-sizing: auto;
  font-size: 30px;
  font-weight: 700;
  font-style: oblique;
  color: white;
}
#pau-logo {
  height: 100%;
  padding: 5px;
  border-radius: 3px;
}
/* Navbar */
.navbar > a {
  /* height: 100%; */
  padding: 10px;
}

/*^ Container = Intestazione blog + Main + Footer */
.container {
  height: auto;
  min-width: 100dvw;
  background-image: url(../img/monviso.jpg);
  background-size: cover;
  background-position: top left;
  padding: 20px;
}

/** Blog header */
.blog-header {
  height: 100px;
  font-family: "Caveat", cursive;
  text-align: center;
  font-size: 35px;
}

/* Main --> Descrizione blog */
.blog-intro {
  text-align: center;
  font-size: 20px;
}

/* Main --> sezione last trips */
.last-trips {
  min-height: 300px;
}
.trip {
  height: 300px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  gap: 30px;
}
.trip:hover {
  background-color: rgba(212, 175, 55, 0.5);
}
#trip-photo {
  height: 90%;
  display: flex;
  align-items: center;
}
.trip-info {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}
.trip-info > h3 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
}
.trip-info > h5 {
  font-size: 15px;
  font-weight: normal;
}
.trip-info > a {
  font-size: 15px;
}
/** Footer con tutti i link*/
.all-trips {
  min-height: 200px;
  width: auto;
  text-align: center;
}
.all-trips:hover {
  background-color: rgb(141, 142, 147, 0.6);
}
.link-all-trips {
  margin-top: 10px;
  margin-inline-start: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
